# Express Crendential Info
PORT=3000
NODE_ENV=development  # production

# Prisma + Neon Setup
DATABASE_URL="your_neon_db_uri"

# JWT Auth Token
# Generate secret: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
JWT_SECRET="generate_random_string" 
JWT_EXPIRES_IN="7d"  # replace x with number  -  d = day

# Cloudinary Config
CLOUDINARY_NAME="your_cloudinary_name"
CLOUDINARY_API_KEY="your_cloudinary_api_key"
CLOUDINARY_API_SECRET="your_cloudinary_api_secret"

# Bakong Config
BAKONG_TOKEN="your_bakong_token"
BAKONG_ACCOUNT_ID="your_account_id"
BAKONG_MERCHANT_NAME="your_merchant_name"
BAKONG_MERCHANT_CITY="your_city"
BAKONG_STORE_LABEL="your_store_label"
BAKONG_TERMINAL_LABEL="your_terminal_label"

# Redis Cache
REDIS_EXPIRATION=3600  # number in seconds
